
body{
    background-color: #100e39e0
}
h2 {
font-size: 75px;
font-weight: lighter;
color: #100e39d9;
font-family: "Arial", sans-serif;
}
h1{
    font-size: 50px;
    font-weight: lighter;
color: #100e39d9;
font-family: "Arial", sans-serif;

}
.centreform {
    background-color:white;
    width: 500px;
    height: 680px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    border-radius: 25px;
}
.leftform{
    background-color:white;
    width: 650px;
    height: 645px;
    text-align: center;
    border-radius: 25px;
    float: right;
}

input[type=text], select {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 40%;
    background-color:#100e39d9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #100e39bb;
  }

  p.username,p.pass,p.email,p.name{
    text-align: left;
    margin-left: 40px;
    font-weight: lighter;
    font-family: "Arial", sans-serif;
  }

  p.username1, p.pass1{
    text-align: left;
    margin-left: 50px;
    font-weight: lighter;
    font-family: "Arial", sans-serif;
  }

  .image{
    position: absolute;
  right: 16px;
  opacity: 0.2;
  }

  .img{
    position: absolute;
  top: 130px;
  left: 190px;

  }
  p.brief{
    text-align: center;
    position: absolute;
  top: 385px;
  left: 60px;
  color: rgba(255, 255, 255, 0.842);
  float: left;
  font-family: "Arial", sans-serif;
  font-size: 80%;

  }